apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory  # The ACME server URL
    email: ${cert_manager_email}  # Email address used for ACME registration
    privateKeySecretRef:  
      name: letsencrypt-prod  # Name of a secret used to store the ACME account private key
    solvers:  # Enable the HTTP-01 challenge provider
    - http01:
        ingress:
          class: nginx  # Ingress Controller class