apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod-cluster-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: ${cert_manager_email}
    privateKeySecretRef:  
      name: letsencrypt-prod-cluster-issuer-privkey
    solvers:
    - http01:
        ingress:
          class: nginx